<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />

        {% if target is none %}
        <title>erado | docs</title>
        {% else %}
        <title>Redirecting to latest...</title>
        <meta http-equiv="refresh" content="0; url=./{{ target }}/index.html" />
        {% endif %}
    </head>

    {% if target is none %}
    Oops &ndash; couldn't find an appropriate docs version to serve!
    {% endif %}
</html>
